body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #62559C, #FE3D3D);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.menu {
    text-align: center;
    color: black;
}

.menu-item {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-decoration: none; 
    color: inherit;
}

.separator {
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 65px auto;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}
